<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lonely - Free bootstrap 3 one page template</title>
    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/nivo-lightbox.css" rel="stylesheet" />
	<link href="css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
	<link href="css/owl.carousel.css" rel="stylesheet" media="screen" />
    <link href="css/owl.theme.css" rel="stylesheet" media="screen" />
	<link href="css/animate.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
	<link href="color/default.css" rel="stylesheet">
    <!-- =======================================================
        Theme Name: Lonely
        Theme URL: https://bootstrapmade.com/free-html-bootstrap-template-lonely/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	<!-- Preloader
	<div id="preloader">
	  <div id="load"></div>
	</div> -->

    <!-- Navigation -->
    <div id="navigation">
        <nav class="navbar navbar-custom" role="navigation">
                              <div class="container">
                                    <div class="row">
                                          <div class="col-md-12">

                                          <!-- Brand and toggle get grouped for better mobile display -->
                                          <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button>
                                          </div>
                                                      <!-- Collect the nav links, forms, and other content for toggling -->
                                                      <div class="collapse navbar-collapse" id="menu">
                                                            <ul class="nav navbar-nav">
                                                                  <li class="active"><a href="#intro">Home</a></li>
                                                                  <li><a href="#about">About</a></li>
                                                                  <li><a href="#team">Meet The Team</a></li>
                                                                  <li><a href="#contact">Contact Us</a></li>
                                                                  <li><a href="welcome\blog">Blog</a></li>
                                                                  <li><a href="#gallery">Events</a></li>
                                                            </ul>
                                                      </div>
                                                      <!-- /.Navbar-collapse -->
           
                                          </div>
                                    </div>
                              </div>
                              <!-- /.container -->
                        </nav>
    </div>
    <section class="home-section">
      <div class="container">
        <div class = "row">
          <div class="col-lg-12 text-center">
            <%=image_tag('RFR1.jpeg') %>
          </div>
          <div class = "col-lg-12 text-center">
          </br>
            <h3>A new dawn for Rails Girls Mombasa</h3>
              <p>Rails Feels right, you ask? Let me tell you how it all came up to be. As part of this year’s goals, Rails Girls Mombasa decided it was time to share their knowledge with the community on what they had learnt about Ruby on Rails over time. Well, what better way other than going back to basics, to the same material that had helped them establish themselves, the book: AGILE WEB DEVELOPMENT WITH RAILS 5.It’s within the book that the name Rails Feels Right was derived from.</p>
            <p>It’s on the 6th of March that Rails Girls Mombasa held their first ever Rails Feels right 1.0 meet up. It marked the beginning of a series in agile web development where learners will start from basics to creating real time projects. The meet ups are intended to take place every Friday from 2PM to 4PM.</p>
            <p>To start off the session, Cate welcomed the members and gave a brief introduction about the meet up. Our first session was conducted by Racheal who took the team through creating their first rails application. As usual, it is impressive to see your first application run! Then came in the questions, how did all this take place? Since it was an open forum, we discussed about the MVC framework and how it all connected. Interesting fact I learnt yesterday: $rails routes shows all the routes in your application. Thank you Daniel for this!</p>
            <p>Rahma took the team through the second session on linking the html pages. This was interesting as well especially having the group throw challenging questions and going through the thought process on how to solve them had some of us on the edge of their seats. All in all, I believe the team is ready for the next challenge!:)</p>
          <p>To wrap up, Rails Girls team had a surprise ‘coffee date’ for the attendees. Yes, we do love our coffee!
          I cannot end this without mentioning the ‘pa- pato’ game by Daniel. It was a hilarious moment for all participants. Oh, deep appreciation to Desmond for the challenging questions. It’s said Challenges are an opportunity to test you and rise you to the next level and I totally agree. To the participants as well for being amazing and let’s not forget that #FridayRubyHug was trending all because of them. It was a great turn out but most importantly I believe they learnt and will keep learning in these sessions. Finally, we are eternally grateful to Swahilibox for continually supporting upcoming tech communities. All this could not have happened without their support.
          So, let’s meet next week on Friday, same place, same time!!</p>
            <h5 align="left">posted on <i> 6th April,2018</i></h5>
          </div>

<div class="col-lg-6 text-center">
  <%=image_tag('witke.jpeg') %>
</div>
<div class="col-lg-6 text-center">
<h3>Launching of 'Her Greatness' </h3>
<p>30th of May,2018 saw the launching of Her Greatness website a website aimed to recogniese women making great impact in the STEM field.A project under rails girls msa,the team looks forward to having many ladies inpired by it.The launching was graced by members of ruby community and swahilibox at large.</p>
<h5 align="left">posted on <i> 30th May,2018</i></h5>
</div>
        </div>
      </div>
    </section>
</body>
</html>